"*":
  "atom-beautify":
    general:
      _analyticsUserId: "b527f0b0-7cac-4680-9862-8d0926193df5"
    ruby:
      indent_size: 2
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "atom-react-autocomplete"
      "linter-rubocop"
      "nuclide"
    ]
    telemetryConsent: "no"
    themes: [
      "dracula-ui"
      "dracula-syntax"
    ]
  editor:
    scrollPastEnd: true
  "exception-reporting":
    userId: "980bf24e-de05-2b5e-f3c5-71e82ef16fed"
  "git-blame":
    columnWidth: 330
  linter: {}
  "linter-eslint":
    disableWhenNoEslintConfig: false
  "linter-ui-default":
    panelHeight: 64
  nuclide:
    "nuclide-file-tree": {}
    "nuclide-working-sets":
      workingSets: [
        {
          name: "app & spec"
          active: false
          uris: [
            "/home/punkbooster/Spark/greetabl/app"
            "/home/punkbooster/Spark/greetabl/spec"
          ]
        }
        {
          name: "db"
          active: false
          uris: [
            "/home/punkbooster/Spark/greetabl/db"
          ]
        }
        {
          name: "lib"
          active: false
          uris: [
            "/home/punkbooster/Spark/greetabl/lib"
          ]
        }
        {
          name: "Default"
          active: true
          uris: [
            "/home/punkbooster/Spark/greetabl/app"
          ]
        }
      ]
  welcome:
    showOnStartup: false
