"*":
  "atom-beautify":
    ruby: {}
  "better-git-blame":
    searchInLayerEnabled: false
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "git-blame"
      "tree-view"
      "linter-sass-lint"
      "linter-csslint"
      "linter-rubocop"
      "tree-view-autoresize"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "city-lights-syntax"
    ]
  editor:
    fontSize: 12
    scrollPastEnd: true
    scrollSensitivity: 80
  "exception-reporting":
    userId: "20568aa1-dd42-4085-b8f5-282026b77f41"
  "git-blame":
    columnWidth: 284
  "linter-ui-default":
    panelHeight: 64
  nuclide:
    "nuclide-file-tree": {}
    "nuclide-home":
      showHome: false
    use:
      "atom-ide-diagnostics-ui": false
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    scrollPastEnd: false
