@font-face {
  font-family: 'stepsize-atom';
  src: url('atom://better-git-blame/assets/font/stepsize-atom.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'stepsize-atom';
    src: url('../font/stepsize-atom.svg?79357717#stepsize-atom') format('svg');
  }
}
*/
 
 [class^="stepsize-icon-"]:before, [class*=" stepsize-icon-"]:before {
  font-family: "stepsize-atom";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.stepsize-icon-jira:before { content: '\e800'; } /* '' */
